<script>
function decowindow(sourceobj){
window.open("decowindow.html?sourceobj="+sourceobj,"decowindow","width=880,height=520,directories=no,location=no,menubar=no,resizable=yes,scrollbars=yes,status=no,toolbar=no,top=0,left=10");
}	//func
</script>
<script>
<!--
function kakunin(){

if(window.confirm("この内容で登録します。\nよろしければ「OK」を押して下さい。\n修正する場合には「キャンセル」を押して下さい。")){
return true;
}

return false;
}
-->
</script>
<style type="text/css">
<!--
.style1 {
	font-size: small;
	color: red;
}
-->
</style>
<form action="webpal.cgi" method="post" enctype="multipart/form-data" name="form1" id="form1" onSubmit="return kakunin()" >
<input name="code" type="hidden" id="code" value="%code%" />
<input name="serial" type="hidden" id="serial" value="%serial%" />
<input name="contents" type="hidden" id="contents" value="%contents%" />
<input name="taikaicode" type="hidden" id="taikaicode" value="%taikaicode%" />

<table width="100%" border="0" cellpadding="2" cellspacing="1" bgcolor="#666666" class="text-12">
<tr>
<td align="center" bgcolor="#FFFFFF">公開の有無</td>
<td bgcolor="#FFFFFF"><p>
<input type="radio" name="koukaiflag" id="radio" value="0" %koukaiflag0% />
公開する
<input type="radio" name="koukaiflag" id="radio" value="1" %koukaiflag1% />
公開しない</p></td>
</tr>
<tr>
<td align="center" bgcolor="#FFFFFF">大会名称</td>
<td bgcolor="#FFFFFF">%taikainame%</td>
</tr>
<tr>
<td align="center" bgcolor="#FFFFFF">表示順<br /></td>
<td bgcolor="#FFFFFF"><input name="sortnum" type="text" id="sortnum" value="%sortnum%" size="6" />
※表示順が大きい方が先頭に表示されます。</td>
</tr>
<tr>
<td align="center" bgcolor="#FFFFFF">タイトル<br /></td>
<td bgcolor="#FFFFFF"><textarea name="title" cols="100%" rows="2" id="title">%title%</textarea></td>
</tr>
<tr>
<td align="center" bgcolor="#FFFFFF">節<br /></td>
<td bgcolor="#FFFFFF"><input name="text1" type="text" id="title3" value="%text1%" size="100%" /></td>
</tr>
<tr>
<td align="center" bgcolor="#FFFFFF">組<br /></td>
<td bgcolor="#FFFFFF">
<input name="body" type="text" id="body" value="%body%" size="100%" /></td>
</tr>
<tr>
<td align="center" bgcolor="#FFFFFF">試合情報</td>
<td bgcolor="#FFFFFF">
<span id=""></span>

<table border="0" cellpadding="4" cellspacing="1" class="text-12" bgcolor="#666666">
<tr>
<td align="center" nowrap="nowrap" bgcolor="#999999">No.</td>
<td align="center" nowrap="nowrap" bgcolor="#999999">内容</td>
<td align="center" nowrap="nowrap" bgcolor="#999999">日時</td>
<td align="center" nowrap="nowrap" bgcolor="#999999">場所</td>
<td align="center" nowrap="nowrap" bgcolor="#999999">試合時間</td>
</tr>
%wakulist%
</table>
<tr>
<td colspan="2" align="center" bgcolor="#FFFFFF"><br />
<input type="submit" name="button" id="button" value="登録"  style="width:100px"/ ></td>
</tr>
</table>
</form>
