<script>
function decowindow(sourceobj){
window.open("decowindow.html?sourceobj="+sourceobj,"decowindow","width=880,height=520,directories=no,location=no,menubar=no,resizable=yes,scrollbars=yes,status=no,toolbar=no,top=0,left=10");
}	//func
</script>
<script>
<!--
function kakunin(){

if (document.form1.title.value == '') {
alert('組名が入力されていません。');
return(false);
}

if(window.confirm("この内容で登録します。\nよろしければ「OK」を押して下さい。\n修正する場合には「キャンセル」を押して下さい。")){
return true;
}

return false;
}
-->
</script>
<style type="text/css">
<!--
.style1 {
	font-size: small;
	color: red;
}
-->
</style>
<form action="webpal.cgi" method="post" enctype="multipart/form-data" name="form1" id="form1" onSubmit="return kakunin()" >
<input name="code" type="hidden" id="code" value="%code%" />
<input name="serial" type="hidden" id="serial" value="%serial%" />
<input name="contents" type="hidden" id="contents" value="%contents%" />
<input name="taikaicode" type="hidden" id="taikaicode" value="%taikaicode%" />
<input name="category" type="hidden" id="category" value="%category%" />
<input name="area" type="hidden" id="area" value="%area%" />
<table width="100%" border="0" cellpadding="2" cellspacing="1" bgcolor="#666666" class="text-12">
<tr>
<td align="center" bgcolor="#FFFFFF">公開の有無</td>
<td bgcolor="#FFFFFF">
<input type="radio" name="koukaiflag" id="radio" value="0" %koukaiflag0% />
公開する
<input type="radio" name="koukaiflag" id="radio" value="1" %koukaiflag1% />
公開しない</td>
</tr>
<tr>
<td align="center" bgcolor="#FFFFFF">大会名</td>
<td bgcolor="#FFFFFF">
%taikainame%</td>
</tr>
<tr>
<td align="center" bgcolor="#FFFFFF">エリア</td>
<td bgcolor="#FFFFFF">%areaname%</td>
</tr>
<tr>
<td align="center" bgcolor="#FFFFFF">表示順</td>
<td bgcolor="#FFFFFF">
<input name="sortnum" type="text" id="sortnum" value="%sortnum%" size="6" />
※大きいほど下に表示されます。</td>
</tr>
<tr>
<td align="center" bgcolor="#FFFFFF">組名</td>
<td bgcolor="#FFFFFF">
<input name="title" type="text" id="title" value="%title%" size="100%" /></td>
</tr>




<tr>
<td colspan="2" align="center" bgcolor="#FFFFFF"><br />
<input type="submit" name="button" id="button" value="登録"  style="width:100px"/ ></td>
</tr>
</table>
</form>
