<script>
function decowindow(sourceobj){
window.open("decowindow.html?sourceobj="+sourceobj,"decowindow","width=880,height=520,directories=no,location=no,menubar=no,resizable=yes,scrollbars=yes,status=no,toolbar=no,top=0,left=10");
}	//func
</script>
<script>
<!--
function kakunin(){

if (document.form1.title.value == '') {
alert('名称が入力されていません。');
return(false);
}
if (document.form1.body.value == '') {
alert('内容が入力されていません。');
return(false);
}

if(window.confirm("この内容で登録します。\nよろしければ「OK」を押して下さい。\n修正する場合には「キャンセル」を押して下さい。")){
return true;
}

return false;
}
-->
</script>
<style type="text/css">
<!--
.style1 {
	font-size: small;
	color: red;
	
}

-->
</style>
<form action="webpal.cgi" method="post" enctype="multipart/form-data" name="form1" id="form1" onSubmit="return kakunin()" >
<input name="code" type="hidden" id="code" value="%code%" />
<input name="serial" type="hidden" id="serial" value="%serial%" />
<input name="contents" type="hidden" id="contents" value="%contents%" />
<input name="taikaicode" type="hidden" id="taikaicode" value="%taikaicode%" />
<input name="koukaiflag" type="hidden" id="koukaiflag" value="0" />
<table width="100%" border="0" cellpadding="2" cellspacing="1" bgcolor="#666666" class="text-12">
<tr>
<td align="center" bgcolor="#FFFFFF" class="tdpad2">表示順<br /></td>
<td bgcolor="#FFFFFF" class="tdpad2">
<input name="sortnum" type="text" id="sortnum" value="%sortnum%" size="6" />
※表示順が大きい方が下に表示されます。</td>
</tr>
<tr>
<td align="center" bgcolor="#FFFFFF" class="tdpad2">名称<br /></td>
<td bgcolor="#FFFFFF" class="tdpad2">
<textarea name="title" cols="100%" rows="3" id="title">%title%</textarea></td>
</tr>
<tr>
<td align="center" bgcolor="#FFFFFF" class="tdpad2">内容<br /></td>
<td bgcolor="#FFFFFF" class="tdpad2">
<textarea name="body" cols="100%" rows="10" id="body">%body%</textarea>
</td>
</tr>




<tr>
<td colspan="2" align="center" bgcolor="#FFFFFF"><br />
<input type="submit" name="button" id="button" value="登録"  style="width:100px"/ ></td>
</tr>
</table>
</form>
