<table width="100%" border="0" cellpadding="10" cellspacing="1" bgcolor="#aaaaaa">
<tr>
<td bgcolor="#FFCCFF" class="ttl">No.</td>
<td align="center" nowrap="nowrap" bgcolor="#FFCCFF" class="ttl">対戦期限日時</td>
<td align="left" valign="top" bgcolor="#FFCCFF">トーナメント表</td>
</tr>
<tr>
<td align="center" bgcolor="#FFCCFF" class="ttl">1</td>
<td align="left" nowrap bgcolor="#FFCCFF" class="ttl">%nichiji1%</td>
<td align="left" valign="top" bgcolor="#FFCCFF">
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td align="center" nowrap="nowrap">
%teamlist0:1%

<br />
<input name="score" value="%score1:1%" type="text"  size="3" />
x
<input name="score" value="%score1:2%" type="text"  size="3" />
<br />
┏━┻━┓</td>
</tr>
<tr>
<td align="center" valign="top">①
%teamlist1:1%
vs
%teamlist1:2%
②%teamresult1:1%</td>
</tr>
</table>
</td>
</tr>
<tr>
<td align="center" bgcolor="#FFFFFF" class="ttl">2</td>
<td align="left" nowrap bgcolor="#FFFFFF" class="ttl">%nichiji2%</td>
<td align="left" valign="top" bgcolor="#FFFFFF">
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td align="center"><span class="ue">①</span><br />
<input name="score" value="%score2:1%" type="text"  size="3" />
x
<input name="score" value="%score2:2%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center">&nbsp;</td>
<td align="center"><span class="ue">②</span><br />
<input name="score" value="%score2:3%" type="text"  size="3" />
x
<input name="score" value="%score2:4%" type="text"  size="3" />
<br />
┏━┻━┓</td>
</tr>
<tr>
<td align="center" valign="top">①
%teamlist2:1%
vs 
%teamlist2:2%
②%teamresult2:1% <br />
</td>
<td align="center" valign="top">｜</td>
<td align="center" valign="top"> ③
%teamlist2:3%
vs
%teamlist2:4%
④%teamresult2:2% 
</td>
</tr>
</table>
</td>
</tr>
<tr>
<td align="center" bgcolor="#FFFFCC" class="ttl">3</td>
<td align="left" nowrap bgcolor="#FFFFCC" class="ttl">%nichiji3%</td>
<td align="left" valign="top" bgcolor="#FFFFCC">
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td align="center"><span class="ue">①</span><br />
<input name="score" value="%score3:1%" type="text"  size="3" />
x
<input name="score" value="%score3:2%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center">&nbsp;</td>
<td align="center"><span class="ue">②</span><br />
<input name="score" value="%score3:3%" type="text"  size="3" />
x
<input name="score" value="%score3:4%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center">&nbsp;</td>
<td align="center"><span class="ue">③</span><br />
<input name="score" value="%score3:5%" type="text"  size="3" />
x
<input name="score" value="%score3:6%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center">&nbsp;</td>
<td align="center"><span class="ue">④</span><br />
<input name="score" value="%score3:7%" type="text"  size="3" />
x
<input name="score" value="%score3:8%" type="text"  size="3" />
<br />
┏━┻━┓</td>
</tr>
<tr>
<td align="center" valign="top">
①
%teamlist3:1%
vs
%teamlist3:2%
②%teamresult3:1%  </td>
<td align="center" valign="top">｜</td>
<td align="center" valign="top">
③
%teamlist3:3%
vs
%teamlist3:4%
④%teamresult3:2%   </td>
<td align="center" valign="top">｜</td>
<td align="center" valign="top"> ⑤
%teamlist3:5%
vs
%teamlist3:6%
⑥%teamresult3:3%  
</td>
<td align="center" valign="top">｜⑦</td>
<td align="center" valign="top">
%teamlist3:7%
vs
%teamlist3:8%
⑧%teamresult3:4%  
</td>
</tr>
</table>
</td>
</tr>
<tr>
<td align="center" bgcolor="#FFFFFF" class="ttl">4</td>
<td align="left" nowrap bgcolor="#FFFFFF" class="ttl">%nichiji4%</td>
<td align="left" valign="top" bgcolor="#FFFFFF">
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td align="center" nowrap="nowrap"><span class="ue">①</span><br />
<input name="score" value="%score4:1%" type="text"  size="3" />
x
<input name="score" value="%score4:2%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap"><span class="ue">②</span><br />
<input name="score" value="%score4:3%" type="text"  size="3" />
x
<input name="score" value="%score4:4%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap"><span class="ue">③</span><br />
<input name="score" value="%score4:5%" type="text"  size="3" />
x
<input name="score" value="%score4:6%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap"><span class="ue">④</span><br />
<input name="score" value="%score4:7%" type="text"  size="3" />
x
<input name="score" value="%score4:8%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap"><span class="ue">⑤</span><br />
<input name="score" value="%score4:9%" type="text"  size="3" />
x
<input name="score" value="%score4:10%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap"><span class="ue">⑥</span><br />
<input name="score" value="%score4:11%" type="text"  size="3" />
x
<input name="score" value="%score4:12%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap"><span class="ue">⑦</span><br />
<input name="score" value="%score4:13%" type="text"  size="3" />
x
<input name="score" value="%score4:14%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap"><span class="ue">⑧</span><br />
<input name="score" value="%score4:15%" type="text"  size="3" />
x
<input name="score" value="%score4:16%" type="text"  size="3" />
<br />
┏━┻━┓</td>
</tr>
<tr>
<td align="center" valign="top" nowrap="nowrap"> A1
%teamlist4:1%
vs
%teamlist4:2%
A2%teamresult4:1%   </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> B1
%teamlist4:3%
vs
%teamlist4:4%
B2%teamresult4:2% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> C1
%teamlist4:5%
vs
%teamlist4:6%
C2%teamresult4:3% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap">
D1
%teamlist4:7%
vs
%teamlist4:8%
D2%teamresult4:4%
</td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> E1
%teamlist4:9%
vs
%teamlist4:10%
E2%teamresult4:5% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> F1
%teamlist4:11%
vs
%teamlist4:12%
F2%teamresult4:6% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> G1
%teamlist4:13%
vs
%teamlist4:14%
G2%teamresult4:7% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> H1
%teamlist4:15%
vs
%teamlist4:16%
H2%teamresult4:8% </td>
</tr>
</table>
</td>
</tr>
<tr>
<td align="center" bgcolor="#FFFFCC" class="ttl">5</td>
<td align="left" nowrap bgcolor="#FFFFCC" class="ttl">%nichiji5%</td>
<td align="left" valign="top" bgcolor="#FFFFCC">
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td align="center" nowrap="nowrap">A1<br />
<input name="score" value="%score5:1%" type="text"  size="3" />
x
<input name="score" value="%score5:2%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">A2<br />
<input name="score" value="%score5:3%" type="text"  size="3" />
x
<input name="score" value="%score5:4%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">B1<br />
<input name="score" value="%score5:5%" type="text"  size="3" />
x
<input name="score" value="%score5:6%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">B2<br />
<input name="score" value="%score5:7%" type="text"  size="3" />
x
<input name="score" value="%score5:8%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">C1<br />
<input name="score" value="%score5:9%" type="text"  size="3" />
x
<input name="score" value="%score5:10%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">C2<br />
<input name="score" value="%score5:11%" type="text"  size="3" />
x
<input name="score" value="%score5:12%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">D1<br />
<input name="score" value="%score5:13%" type="text"  size="3" />
x
<input name="score" value="%score5:14%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">D2<br />
<input name="score" value="%score5:15%" type="text"  size="3" />
x
<input name="score" value="%score5:16%" type="text"  size="3" />
<br />
┏━┻━┓</td>
</tr>
<tr>
<td align="center" valign="top" nowrap="nowrap"> A1
%teamlist5:1%
vs
%teamlist5:2%
A2%teamresult5:1% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> B1
%teamlist5:3%
vs
%teamlist5:4%
B2%teamresult5:2% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> C1
%teamlist5:5%
vs
%teamlist5:6%
C2%teamresult5:3% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> D1
%teamlist5:7%
vs
%teamlist5:8%
D2%teamresult5:4% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> E1
%teamlist5:9%
vs
%teamlist5:10%
E2%teamresult5:5% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> F1
%teamlist5:11%
vs
%teamlist5:12%
F2%teamresult5:6% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> G1
%teamlist5:13%
vs
%teamlist5:14%
G2%teamresult5:7% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> H1
%teamlist5:15%
vs
%teamlist5:16%
H2%teamresult5:8% </td>
</tr>
</table>
<hr noshade="noshade" />
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td align="center" nowrap="nowrap">E1<br />
<input name="score" value="%score5:17%" type="text"  size="3" />
x
<input name="score" value="%score5:18%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">E2<br />
<input name="score" value="%score5:19%" type="text"  size="3" />
x
<input name="score" value="%score5:20%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">F1<br />
<input name="score" value="%score5:21%" type="text"  size="3" />
x
<input name="score" value="%score5:22%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">F2<br />
<input name="score" value="%score5:23%" type="text"  size="3" />
x
<input name="score" value="%score5:24%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">G1<br />
<input name="score" value="%score5:25%" type="text"  size="3" />
x
<input name="score" value="%score5:26%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">G2<br />
<input name="score" value="%score5:27%" type="text"  size="3" />
x
<input name="score" value="%score5:28%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">H1<br />
<input name="score" value="%score5:29%" type="text"  size="3" />
x
<input name="score" value="%score5:30%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">H2<br />
<input name="score" value="%score5:31%" type="text"  size="3" />
x
<input name="score" value="%score5:32%" type="text"  size="3" />
<br />
┏━┻━┓</td>
</tr>
<tr>
<td align="center" valign="top" nowrap="nowrap"> I1
%teamlist5:17%
vs
%teamlist5:18%
I2%teamresult5:9% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> J1
%teamlist5:19%
vs
%teamlist5:20%
J2%teamresult5:10% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> K1
%teamlist5:21%
vs
%teamlist5:22%
K2%teamresult5:11% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> L1
%teamlist5:23%
vs
%teamlist5:24%
L2%teamresult5:12% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> M1
%teamlist5:25%
vs
%teamlist5:26%
M2%teamresult5:13% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> N1
%teamlist5:27%
vs
%teamlist5:28%
N2%teamresult5:14% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> O1
%teamlist5:29%
vs
%teamlist5:30%
O2%teamresult5:15% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> P1
%teamlist5:31%
vs
%teamlist5:32%
P2%teamresult5:16% </td>
</tr>
</table>
</td>
</tr>
<tr>
<td align="center" bgcolor="#FFFFFF" class="ttl">6</td>
<td align="left" nowrap bgcolor="#FFFFFF" class="ttl">%nichiji6%</td>
<td align="left" valign="top" bgcolor="#FFFFFF">
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td align="center" nowrap="nowrap">A1<br />
<input name="score" value="%score6:1%" type="text"  size="3" />
x
<input name="score" value="%score6:2%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">A2<br />
<input name="score" value="%score6:3%" type="text"  size="3" />
x
<input name="score" value="%score6:4%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">B1<br />
<input name="score" value="%score6:5%" type="text"  size="3" />
x
<input name="score" value="%score6:6%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">B2<br />
<input name="score" value="%score6:7%" type="text"  size="3" />
x
<input name="score" value="%score6:8%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">C1<br />
<input name="score" value="%score6:9%" type="text"  size="3" />
x
<input name="score" value="%score6:10%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">C2<br />
<input name="score" value="%score6:11%" type="text"  size="3" />
x
<input name="score" value="%score6:12%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">D1<br />
<input name="score" value="%score6:13%" type="text"  size="3" />
x
<input name="score" value="%score6:14%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">D2<br />
<input name="score" value="%score6:15%" type="text"  size="3" />
x
<input name="score" value="%score6:16%" type="text"  size="3" />
<br />
┏━┻━┓</td>
</tr>
<tr>
<td align="center" valign="top" nowrap="nowrap"> A1
%teamlist6:1%
vs
%teamlist6:2%

A2%teamresult6:1% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> B1
%teamlist6:3%

vs
%teamlist6:4%

B2%teamresult6:2% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> C1
%teamlist6:5%

vs
%teamlist6:6%

C2%teamresult6:3% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> D1
%teamlist6:7%

vs
%teamlist6:8%

D2%teamresult6:4% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> E1
%teamlist6:9%

vs
%teamlist6:10%

E2%teamresult6:5% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> F1
%teamlist6:11%

vs
%teamlist6:12%

F2%teamresult6:6% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> G1
%teamlist6:13%

vs
%teamlist6:14%

G2%teamresult6:7% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> H1
%teamlist6:15%

vs
%teamlist6:16%

H2%teamresult6:8% </td>
</tr>
</table>
<hr noshade="noshade" />
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td align="center" valign="top" nowrap="nowrap">E1<br />
<input name="score" value="%score6:17%" type="text"  size="3" />
x
<input name="score" value="%score6:18%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" valign="top" nowrap="nowrap">&nbsp;</td>
<td align="center" valign="top" nowrap="nowrap">E2<br />
<input name="score" value="%score6:19%" type="text"  size="3" />
x
<input name="score" value="%score6:20%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" valign="top" nowrap="nowrap">&nbsp;</td>
<td align="center" valign="top" nowrap="nowrap">F1<br />
<input name="score" value="%score6:21%" type="text"  size="3" />
x
<input name="score" value="%score6:22%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" valign="top" nowrap="nowrap">&nbsp;</td>
<td align="center" valign="top" nowrap="nowrap">F2<br />
<input name="score" value="%score6:23%" type="text"  size="3" />
x
<input name="score" value="%score6:24%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" valign="top" nowrap="nowrap">&nbsp;</td>
<td align="center" valign="top" nowrap="nowrap">G1<br />
<input name="score" value="%score6:25%" type="text"  size="3" />
x
<input name="score" value="%score6:26%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" valign="top" nowrap="nowrap">&nbsp;</td>
<td align="center" valign="top" nowrap="nowrap">G2<br />
<input name="score" value="%score6:27%" type="text"  size="3" />
x
<input name="score" value="%score6:28%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" valign="top" nowrap="nowrap">&nbsp;</td>
<td align="center" valign="top" nowrap="nowrap">H1<br />
<input name="score" value="%score6:29%" type="text"  size="3" />
x
<input name="score" value="%score6:30%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" valign="top" nowrap="nowrap">&nbsp;</td>
<td align="center" valign="top" nowrap="nowrap">H2<br />
<input name="score" value="%score6:31%" type="text"  size="3" />
x
<input name="score" value="%score6:32%" type="text"  size="3" />
<br />
┏━┻━┓</td>
</tr>
<tr>
<td align="center" valign="top" nowrap="nowrap"> I1
%teamlist6:17%

vs
%teamlist6:18%

I2%teamresult6:9% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> J1
%teamlist6:19%

vs
%teamlist6:20%

J2%teamresult6:10% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> K1
%teamlist6:21%

vs
%teamlist6:22%

K2%teamresult6:11% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> L1
%teamlist6:23%

vs
%teamlist6:24%

L2%teamresult6:12% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> M1
%teamlist6:25%

vs
%teamlist6:26%

M2%teamresult6:13% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> N1
%teamlist6:27%

vs
%teamlist6:28%

N2%teamresult6:14% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> O1
%teamlist6:29%

vs
%teamlist6:30%

O2%teamresult6:15% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> P1
%teamlist6:31%

vs
%teamlist6:32%

P2%teamresult6:16% </td>
</tr>
</table>
<hr noshade="noshade" />
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td align="center" nowrap="nowrap">I1<br />
<input name="score" value="%score6:33%" type="text"  size="3" />
x
<input name="score" value="%score6:34%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">I2<br />
<input name="score" value="%score6:35%" type="text"  size="3" />
x
<input name="score" value="%score6:36%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">J1<br />
<input name="score" value="%score6:37%" type="text"  size="3" />
x
<input name="score" value="%score6:38%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">J2<br />
<input name="score" value="%score6:39%" type="text"  size="3" />
x
<input name="score" value="%score6:40%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">K1<br />
<input name="score" value="%score6:41%" type="text"  size="3" />
x
<input name="score" value="%score6:42%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">K2<br />
<input name="score" value="%score6:43%" type="text"  size="3" />
x
<input name="score" value="%score6:44%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">L1<br />
<input name="score" value="%score6:45%" type="text"  size="3" />
x
<input name="score" value="%score6:46%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">L2<br />
<input name="score" value="%score6:47%" type="text"  size="3" />
x
<input name="score" value="%score6:48%" type="text"  size="3" />
<br />
┏━┻━┓</td>
</tr>
<tr>
<td align="center" valign="top" nowrap="nowrap"> Q1
%teamlist6:33%

vs
%teamlist6:34%

Q2%teamresult6:17% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> R1
%teamlist6:35%

vs
%teamlist6:36%

R2%teamresult6:18% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> S1
%teamlist6:37%

vs
%teamlist6:38%

S2%teamresult6:19% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> T1
%teamlist6:39%

vs
%teamlist6:40%

T2%teamresult6:20% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> U1
%teamlist6:41%

vs
%teamlist6:42%

U2%teamresult6:21% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> V1
%teamlist6:43%

vs
%teamlist6:44%

V2%teamresult6:22% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> W1
%teamlist6:45%

vs
%teamlist6:46%

W2%teamresult6:23% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> X1
%teamlist6:47%

vs
%teamlist6:48%

X2%teamresult6:24% </td>
</tr>
</table>
<hr noshade="noshade" />
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td align="center" nowrap="nowrap">M1<br />
<input name="score" value="%score6:49%" type="text"  size="3" />
x
<input name="score" value="%score6:50%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">M2<br />
<input name="score" value="%score6:51%" type="text"  size="3" />
x
<input name="score" value="%score6:52%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">N1<br />
<input name="score" value="%score6:53%" type="text"  size="3" />
x
<input name="score" value="%score6:54%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">N2<br />
<input name="score" value="%score6:55%" type="text"  size="3" />
x
<input name="score" value="%score6:56%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">O1<br />
<input name="score" value="%score6:57%" type="text"  size="3" />
x
<input name="score" value="%score6:58%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">O2<br />
<input name="score" value="%score6:59%" type="text"  size="3" />
x
<input name="score" value="%score6:60%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">P1<br />
<input name="score" value="%score6:61%" type="text"  size="3" />
x
<input name="score" value="%score6:62%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">P2<br />
<input name="score" value="%score6:63%" type="text"  size="3" />
x
<input name="score" value="%score6:64%" type="text"  size="3" />
<br />
┏━┻━┓</td>
</tr>
<tr>
<td align="center" valign="top" nowrap="nowrap"> Y1
%teamlist6:49%

vs
%teamlist6:50%

Y2%teamresult6:25% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> Z1
%teamlist6:51%

vs
%teamlist6:52%

Z2%teamresult6:26% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> AA1
%teamlist6:53%

vs
%teamlist6:54%

AA2%teamresult6:27% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> BB1
%teamlist6:55%

vs
%teamlist6:56%

BB2%teamresult6:28% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap">CC1
%teamlist6:57%

vs
%teamlist6:58%

CC2%teamresult6:29% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> DD1
%teamlist6:59%

vs
%teamlist6:60%

DD2%teamresult6:30% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> EE1
%teamlist6:61%

vs
%teamlist6:62%

EE2%teamresult6:31% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> FF1
%teamlist6:63%

vs
%teamlist6:64%

FF2%teamresult6:32% </td>
</tr>
</table>
</td>
</tr>
<tr>
<td align="center" bgcolor="#FFFFCC" class="ttl">7</td>
<td align="left" nowrap bgcolor="#FFFFCC" class="ttl">%nichiji7%</td>
<td align="left" valign="top" bgcolor="#FFFFCC">
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td align="center" nowrap="nowrap">A1<br />
<input name="score" value="%score7:1%"  type="text"  size="3" />
x
<input name="score" value="%score7:2%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">A2<br />
<input name="score" value="%score7:3%" type="text"  size="3" />
x
<input name="score" value="%score7:4%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">B1<br />
<input name="score" value="%score7:5%" type="text"  size="3" />
x
<input name="score" value="%score7:6%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">B2<br />
<input name="score" value="%score7:7%" type="text"  size="3" />
x
<input name="score" value="%score7:8%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">C1<br />
<input name="score" value="%score7:9%" type="text"  size="3" />
x
<input name="score" value="%score7:10%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">C2<br />
<input name="score" value="%score7:11%" type="text"  size="3" />
x
<input name="score" value="%score7:12%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">D1<br />
<input name="score" value="%score7:13%" type="text"  size="3" />
x
<input name="score" value="%score7:14%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">D2<br />
<input name="score" value="%score7:15%" type="text"  size="3" />
x
<input name="score" value="%score7:16%" type="text"  size="3" />
<br />
┏━┻━┓</td>
</tr>
<tr>
<td align="center" valign="top" nowrap="nowrap"> A1
%teamlist7:1%

vs
%teamlist7:2%

A2%teamresult7:1% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> B1
%teamlist7:3%

vs
%teamlist7:4%

B2%teamresult7:2% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> C1
%teamlist7:5%

vs
%teamlist7:6%

C2%teamresult7:3% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> D1
%teamlist7:7%

vs
%teamlist7:8%

D2%teamresult7:4% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> E1
%teamlist7:9%

vs
%teamlist7:10%

E2%teamresult7:5% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> F1
%teamlist7:11%

vs
%teamlist7:12%

F2%teamresult7:6% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> G1
%teamlist7:13%

vs
%teamlist7:14%

G2%teamresult7:7% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> H1
%teamlist7:15%

vs
%teamlist7:16%

H2%teamresult7:8% </td>
</tr>
</table>
<hr noshade="noshade" />
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td align="center" nowrap="nowrap">E1<br />
<input name="score" value="%score7:17%" type="text"  size="3" />
x
<input name="score" value="%score7:18%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">E2<br />
<input name="score" value="%score7:19%" type="text"  size="3" />
x
<input name="score" value="%score7:20%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">F1<br />
<input name="score" value="%score7:21%" type="text"  size="3" />
x
<input name="score" value="%score7:22%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">F2<br />
<input name="score" value="%score7:23%" type="text"  size="3" />
x
<input name="score" value="%score7:24%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">G1<br />
<input name="score" value="%score7:25%" type="text"  size="3" />
x
<input name="score" value="%score7:26%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">G2<br />
<input name="score" value="%score7:27%" type="text"  size="3" />
x
<input name="score" value="%score7:28%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">H1<br />
<input name="score" value="%score7:29%" type="text"  size="3" />
x
<input name="score" value="%score7:30%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">H2<br />
<input name="score" value="%score7:31%" type="text"  size="3" />
x
<input name="score" value="%score7:32%" type="text"  size="3" />
<br />
┏━┻━┓</td>
</tr>
<tr>
<td align="center" valign="top" nowrap="nowrap"> I1
%teamlist7:17%

vs
%teamlist7:18%

I2%teamresult7:9% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> J1
%teamlist7:19%

vs
%teamlist7:20%

J2%teamresult7:10% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> K1
%teamlist7:21%

vs
%teamlist7:22%

K2%teamresult7:11% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> L1
%teamlist7:23%

vs
%teamlist7:24%

L2%teamresult7:12% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> M1
%teamlist7:25%

vs
%teamlist7:26%

M2%teamresult7:13% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> N1
%teamlist7:27%

vs
%teamlist7:28%

N2%teamresult7:14% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> O1
%teamlist7:29%

vs
%teamlist7:30%

O2%teamresult7:15% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> P1
%teamlist7:31%

vs
%teamlist7:32%

P2%teamresult7:16% </td>
</tr>
</table>
<hr noshade="noshade" />
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td align="center" nowrap="nowrap">I1<br />
<input name="score" value="%score7:33%" type="text"  size="3" />
x
<input name="score" value="%score7:34%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">I2<br />
<input name="score" value="%score7:35%" type="text"  size="3" />
x
<input name="score" value="%score7:36%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">J1<br />
<input name="score" value="%score7:37%" type="text"  size="3" />
x
<input name="score" value="%score7:38%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">J2<br />
<input name="score" value="%score7:39%" type="text"  size="3" />
x
<input name="score" value="%score7:40%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">K1<br />
<input name="score" value="%score7:41%" type="text"  size="3" />
x
<input name="score" value="%score7:42%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">K2<br />
<input name="score" value="%score7:43%" type="text"  size="3" />
x
<input name="score" value="%score7:44%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">L1<br />
<input name="score" value="%score7:45%" type="text"  size="3" />
x
<input name="score" value="%score7:46%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">L2<br />
<input name="score" value="%score7:7%" type="text"  size="3" />
x
<input name="score" value="%score7:48%" type="text"  size="3" />
<br />
┏━┻━┓</td>
</tr>
<tr>
<td align="center" valign="top" nowrap="nowrap"> Q1
%teamlist7:33%

vs
%teamlist7:34%

Q2%teamresult7:17% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> R1
%teamlist7:35%

vs
%teamlist7:36%

R2%teamresult7:18% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> S1
%teamlist7:37%

vs
%teamlist7:38%

S2%teamresult7:19% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> T1
%teamlist7:39%

vs
%teamlist7:40%

T2%teamresult7:20% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> U1
%teamlist7:41%

vs
%teamlist7:42%

U2%teamresult7:21% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> V1
%teamlist7:43%

vs
%teamlist7:44%

V2%teamresult7:22% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> W1
%teamlist7:45%

vs
%teamlist7:46%

W2%teamresult7:23%</td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> X1
%teamlist7:47%

vs
%teamlist7:48%

X2%teamresult7:24% </td>
</tr>
</table>
<hr noshade="noshade" />
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td align="center" nowrap="nowrap">M1<br />
<input name="score" value="%score7:49%" type="text"  size="3" />
x
<input name="score" value="%score7:50%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">M2<br />
<input name="score" value="%score7:51%" type="text"  size="3" />
x
<input name="score" value="%score7:52%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">N1<br />
<input name="score" value="%score7:53%" type="text"  size="3" />
x
<input name="score" value="%score7:54%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">N2<br />
<input name="score" value="%score7:55%" type="text"  size="3" />
x
<input name="score" value="%score7:56%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">O1<br />
<input name="score" value="%score7:57%" type="text"  size="3" />
x
<input name="score" value="%score7:58%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">O2<br />
<input name="score" value="%score7:59%" type="text"  size="3" />
x
<input name="score" value="%score7:60%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">P1<br />
<input name="score" value="%score7:61%" type="text"  size="3" />
x
<input name="score" value="%score7:62%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">P2<br />
<input name="score" value="%score7:63%" type="text"  size="3" />
x
<input name="score" value="%score7:64%" type="text"  size="3" />
<br />
┏━┻━┓</td>
</tr>
<tr>
<td align="center" valign="top" nowrap="nowrap"> Y1
%teamlist7:49%

vs
%teamlist7:50%

Y2%teamresult7:25% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> Z1
%teamlist7:51%

vs
%teamlist7:52%

Z2%teamresult7:26% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> AA1
%teamlist7:53%

vs
%teamlist7:54%

AA2%teamresult7:27% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> BB1
%teamlist7:55%

vs
%teamlist7:56%

BB2%teamresult7:28% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap">CC1
%teamlist7:57%

vs
%teamlist7:58%

CC2%teamresult7:29% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> DD1
%teamlist7:59%

vs
%teamlist7:60%

DD2%teamresult7:30% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> EE1
%teamlist7:61%

vs
%teamlist7:62%

EE2%teamresult7:31% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> FF1
%teamlist7:63%

vs
%teamlist7:64%

FF2%teamresult7:32% </td>
</tr>
</table>
<hr noshade="noshade" />
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td align="center" nowrap="nowrap">Q1<br />
<input name="score" value="%score7:65%" type="text"  size="3" />
x
<input name="score" value="%score7:66%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">Q2<br />
<input name="score" value="%score7:67%" type="text"  size="3" />
x
<input name="score" value="%score7:68%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">R1<br />
<input name="score" value="%score7:69%" type="text"  size="3" />
x
<input name="score" value="%score7:70%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">R2<br />
<input name="score" value="%score7:71%" type="text"  size="3" />
x
<input name="score" value="%score7:72%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">S1<br />
<input name="score" value="%score7:73%" type="text"  size="3" />
x
<input name="score" value="%score7:74%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">S2<br />
<input name="score" value="%score7:75%" type="text"  size="3" />
x
<input name="score" value="%score7:76%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">T1<br />
<input name="score" value="%score7:77%" type="text"  size="3" />
x
<input name="score" value="%score7:78%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">T2<br />
<input name="score" value="%score7:79%" type="text"  size="3" />
x
<input name="score" value="%score7:80%" type="text"  size="3" />
<br />
┏━┻━┓</td>
</tr>
<tr>
<td align="center" valign="top" nowrap="nowrap"> A1
%teamlist7:65%

vs
%teamlist7:66%

A2%teamresult7:33% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> B1
%teamlist7:67%

vs
%teamlist7:68%

B2%teamresult7:34% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> C1
%teamlist7:69%

vs
%teamlist7:70%

C2%teamresult7:35% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> D1
%teamlist7:71%

vs
%teamlist7:72%

D2%teamresult7:36% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> E1
%teamlist7:73%

vs
%teamlist7:74%

E2%teamresult7:37% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> F1
%teamlist7:75%

vs
%teamlist7:76%

F2%teamresult7:38% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> G1
%teamlist7:77%

vs
%teamlist7:78%

G2%teamresult7:39% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> H1
%teamlist7:79%

vs
%teamlist7:80%

H2%teamresult7:40% </td>
</tr>
</table>
<hr noshade="noshade" />
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td align="center" nowrap="nowrap">U1<br />
<input name="score" value="%score7:81%" type="text"  size="3" />
x
<input name="score" value="%score7:82%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">U2<br />
<input name="score" value="%score7:83%" type="text"  size="3" />
x
<input name="score" value="%score7:84%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">V1<br />
<input name="score" value="%score7:85%" type="text"  size="3" />
x
<input name="score" value="%score7:86%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">V2<br />
<input name="score" value="%score7:87%" type="text"  size="3" />
x
<input name="score" value="%score7:88%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">W1<br />
<input name="score" value="%score7:89%" type="text"  size="3" />
x
<input name="score" value="%score7:90%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">W2<br />
<input name="score" value="%score7:91%" type="text"  size="3" />
x
<input name="score" value="%score7:92%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">X1<br />
<input name="score" value="%score7:93%" type="text"  size="3" />
x
<input name="score" value="%score7:94%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">X2<br />
<input name="score" value="%score7:95%" type="text"  size="3" />
x
<input name="score" value="%score7:96%" type="text"  size="3" />
<br />
┏━┻━┓</td>
</tr>
<tr>
<td align="center" valign="top" nowrap="nowrap"> I1
%teamlist7:81%

vs
%teamlist7:82%

I2%teamresult7:41% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> J1
%teamlist7:83%

vs
%teamlist7:84%

J2%teamresult7:42% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> K1
%teamlist7:85%

vs
%teamlist7:86%

K2%teamresult7:43% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> L1
%teamlist7:87%

vs
%teamlist7:88%

L2%teamresult7:44% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> M1
%teamlist7:89%

vs
%teamlist7:90%

M2%teamresult7:45% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> N1
%teamlist7:91%

vs
%teamlist7:92%

N2%teamresult7:46% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> O1
%teamlist7:93%

vs
%teamlist7:94%

O2%teamresult7:47% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> P1
%teamlist7:95%

vs
%teamlist7:96%

P2%teamresult7:48% </td>
</tr>
</table>
<hr noshade="noshade" />
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td align="center" nowrap="nowrap">Y1<br />
<input name="score" value="%score7:97%" type="text"  size="3" />
x
<input name="score" value="%score7:98%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">Y2<br />
<input name="score" value="%score7:99%" type="text"  size="3" />
x
<input name="score" value="%score7:100%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">Z1<br />
<input name="score" value="%score7:101%" type="text"  size="3" />
x
<input name="score" value="%score7:102%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">Z2<br />
<input name="score" value="%score7:103%" type="text"  size="3" />
x
<input name="score" value="%score7:104%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">AA1<br />
<input name="score" value="%score7:105%" type="text"  size="3" />
x
<input name="score" value="%score7:106%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">AA2<br />
<input name="score" value="%score7:107%" type="text"  size="3" />
x
<input name="score" value="%score7:108%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">BB1<br />
<input name="score" value="%score7:109%" type="text"  size="3" />
x
<input name="score" value="%score7:110%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">BB2<br />
<input name="score" value="%score7:111%" type="text"  size="3" />
x
<input name="score" value="%score7:112%" type="text"  size="3" />
<br />
┏━┻━┓</td>
</tr>
<tr>
<td align="center" valign="top" nowrap="nowrap"> Q1
%teamlist7:97%

vs
%teamlist7:98%

Q2%teamresult7:49% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> R1
%teamlist7:99%

vs
%teamlist7:100%

R2%teamresult7:50% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> S1
%teamlist7:101%

vs
%teamlist7:102%

S2%teamresult7:51% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> T1
%teamlist7:103%

vs
%teamlist7:104%

T2%teamresult7:52% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> U1
%teamlist7:105%

vs
%teamlist7:106%

U2%teamresult7:53% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> V1
%teamlist7:107%

vs
%teamlist7:108%

V2%teamresult7:54% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> W1
%teamlist7:109%

vs
%teamlist7:110%

W2%teamresult7:55% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> X1
%teamlist7:111%

vs
%teamlist7:112%

X2%teamresult7:56% </td>
</tr>
</table>
<hr noshade="noshade" />
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<td align="center" nowrap="nowrap">CC1<br />
<input name="score" value="%score7:113%" type="text"  size="3" />
x
<input name="score" value="%score7:114%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">CC2<br />
<input name="score" value="%score7:115%" type="text"  size="3" />
x
<input name="score" value="%score7:116%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">DD1<br />
<input name="score" value="%score7:117%" type="text"  size="3" />
x
<input name="score" value="%score7:118%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">DD2<br />
<input name="score" value="%score7:119%" type="text"  size="3" />
x
<input name="score" value="%score7:120%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">EE1<br />
<input name="score" value="%score7:121%" type="text"  size="3" />
x
<input name="score" value="%score7:122%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">EE2<br />
<input name="score" value="%score7:123%" type="text"  size="3" />
x
<input name="score" value="%score7:124%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">FF1<br />
<input name="score" value="%score7:125%" type="text"  size="3" />
x
<input name="score" value="%score7:126%" type="text"  size="3" />
<br />
┏━┻━┓</td>
<td align="center" nowrap="nowrap">&nbsp;</td>
<td align="center" nowrap="nowrap">FF2<br />
<input name="score" value="%score7:127%" type="text"  size="3" />
x
<input name="score" value="%score7:128%" type="text"  size="3" />
<br />
┏━┻━┓</td>
</tr>
<tr>
<td align="center" valign="top" nowrap="nowrap"> Y1
%teamlist7:113%

vs
%teamlist7:114%

Y2%teamresult7:57% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> Z1
%teamlist7:115%

vs
%teamlist7:116%

Z2%teamresult7:58% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> AA1
%teamlist7:117%

vs
%teamlist7:118%

AA2%teamresult7:59% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> BB1
%teamlist7:119%

vs
%teamlist7:120%

BB2%teamresult7:60% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap">CC1
%teamlist7:121%

vs
%teamlist7:122%

CC2%teamresult7:61% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> DD1
%teamlist7:123%

vs
%teamlist7:124%

DD2%teamresult7:62% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> EE1
%teamlist7:125%

vs
%teamlist7:126%

EE2%teamresult7:63% </td>
<td align="center" valign="top" nowrap="nowrap">｜</td>
<td align="center" valign="top" nowrap="nowrap"> FF1
%teamlist7:127%

vs
%teamlist7:128%

FF2%teamresult7:64% </td>
</tr>
</table>
</td>
</tr>
</table>